assignment1/.ipynb_checkpoints
assignment1/*.swp
assignment1/*.pyc
assignment1/.env/*

assignment2/.ipynb_checkpoints
assignment2/*.swp
assignment2/*.pyc
assignment2/.env/*

assignment3/.ipynb_checkpoints
assignment3/*.swp
assignment3/*.pyc
assignment3/.env/*
assignment3/cs231n/datasets
assignment3/extra_credits

final_project/*

.DS_Store